layout {
    // Set gaps around windows in logical pixels.
    gaps 5

    center-focused-column "never"
    always-center-single-column

    // Widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.95
    }

    default-column-width { proportion 0.33333; }

    focus-ring {
        width 2
        // Colours defined in noctalia.kdl
    }

    tab-indicator {
        width 8
        gap 8
        length total-proportion=0.8
        position "left"
        place-within-column
        hide-when-single-tab
    }
}
