// To see available screens, run: niri msg outputs
output "iiyama Corporation PL3486WQ 1251752300707" {
    mode "3440x1440@240.002"
    scale 1.0
    transform "normal"
    position x=0 y=0
}

output "Invalid Vendor Codename - RTK 0x1920 0x19201080" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=760 y=1440
}
